cstarwars/bin/Debug/net7.0/cstarwars.deps.json
cstarwars/bin/Debug/net7.0/cstarwars.dll
cstarwars/bin/Debug/net7.0/cstarwars.exe
cstarwars/bin/Debug/net7.0/cstarwars.pdb
cstarwars/bin/Debug/net7.0/cstarwars.runtimeconfig.json
cstarwars/bin/Debug/net7.0/Google.Protobuf.dll
cstarwars/bin/Debug/net7.0/Grpc.Core.Api.dll
cstarwars/bin/Debug/net7.0/Grpc.Core.dll
cstarwars/bin/Debug/net7.0/System.Interactive.Async.dll
cstarwars/bin/Debug/net7.0/runtimes/linux/native/libgrpc_csharp_ext.x64.so
cstarwars/bin/Debug/net7.0/runtimes/linux/native/libgrpc_csharp_ext.x86.so
cstarwars/bin/Debug/net7.0/runtimes/osx/native/libgrpc_csharp_ext.x64.dylib
cstarwars/bin/Debug/net7.0/runtimes/osx/native/libgrpc_csharp_ext.x86.dylib
cstarwars/bin/Debug/net7.0/runtimes/win/native/grpc_csharp_ext.x64.dll
cstarwars/bin/Debug/net7.0/runtimes/win/native/grpc_csharp_ext.x86.dll
cstarwars/obj/cstarwars.csproj.nuget.dgspec.json
cstarwars/obj/cstarwars.csproj.nuget.g.props
cstarwars/obj/cstarwars.csproj.nuget.g.targets
cstarwars/obj/project.assets.json
cstarwars/obj/project.nuget.cache
cstarwars/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
cstarwars/obj/Debug/net7.0/12fbc7ffe642ca7e_starwars.protodep
cstarwars/obj/Debug/net7.0/apphost.exe
cstarwars/obj/Debug/net7.0/cstarwars.AssemblyInfo.cs
cstarwars/obj/Debug/net7.0/cstarwars.AssemblyInfoInputs.cache
cstarwars/obj/Debug/net7.0/cstarwars.assets.cache
cstarwars/obj/Debug/net7.0/cstarwars.csproj.AssemblyReference.cache
cstarwars/obj/Debug/net7.0/cstarwars.csproj.CopyComplete
cstarwars/obj/Debug/net7.0/cstarwars.csproj.CoreCompileInputs.cache
cstarwars/obj/Debug/net7.0/cstarwars.csproj.FileListAbsolute.txt
cstarwars/obj/Debug/net7.0/cstarwars.dll
cstarwars/obj/Debug/net7.0/cstarwars.GeneratedMSBuildEditorConfig.editorconfig
cstarwars/obj/Debug/net7.0/cstarwars.genruntimeconfig.cache
cstarwars/obj/Debug/net7.0/cstarwars.pdb
cstarwars/obj/Debug/net7.0/Starwars.cs
cstarwars/obj/Debug/net7.0/StarwarsGrpc.cs
cstarwars/obj/Debug/net7.0/ref/cstarwars.dll
cstarwars/obj/Debug/net7.0/refint/cstarwars.dll
cstarwars/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
cstarwars/obj/Debug/netcoreapp5.0/12fbc7ffe642ca7e_starwars.protodep
cstarwars/obj/Debug/netcoreapp5.0/cstarwars.AssemblyInfo.cs
cstarwars/obj/Debug/netcoreapp5.0/cstarwars.assets.cache
cstarwars/obj/Debug/netcoreapp5.0/cstarwars.AssemblyInfoInputs.cache
cstarwars/obj/Debug/netcoreapp5.0/cstarwars.csproj.AssemblyReference.cache
cstarwars/obj/Debug/netcoreapp5.0/cstarwars.GeneratedMSBuildEditorConfig.editorconfig
cstarwars/obj/Debug/netcoreapp5.0/Starwars.cs
cstarwars/obj/Debug/netcoreapp5.0/StarwarsGrpc.cs
